In [4]:
import pandas as pd

In [6]:
respondieron = pd.read_csv('respondieron.csv')

In [8]:
respondieron

       cond. de actividad  PEA
0                       3    2
1                       1    1
2                       3    2
3                       1    1
4                       3    2
...                   ...  ...
14642                   3    2
14643                   2    1
14644                   1    1
14645                   1    1
14646                   1    1

[14647 rows x 2 columns]

In [10]:
norespondieron = pd.read_csv('norespondieron.csv')

In [12]:
norespondieron

,cond. de actividad,ano4,sexo,edad,estado civil,seguro médico,nivel educativo,categoria inactivo,ipcf
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,0,2024.0,2.0,49.0,2.0,4.0,2.0,0.0,0.0
11,0,2024.0,2.0,25.0,5.0,4.0,6.0,0.0,0.0
12,0,2024.0,1.0,20.0,5.0,4.0,5.0,0.0,0.0
13,0,2024.0,1.0,74.0,5.0,2.0,5.0,0.0,0.0
14,0,2024.0,1.0,21.0,9.0,9.0,5.0,0.0,0.0
15,0,2024.0,1.0,21.0,9.0,9.0,5.0,0.0,0.0
16,0,2024.0,1.0,77.0,1.0,1.0,3.0,0.0,0.0
17,0,2024.0,1.0,45.0,1.0,4.0,4.0,0.0,0.0
18,0,2024.0,1.0,45.0,2.0,2.0,6.0,0.0,0.0
19,0,2024.0,1.0,15.0,9.0,9.0,3.0,0.0,0.0
20,0,2024.0,1.0,53.0,9.0,9.0,2.0,0.0,0.0
21,0,2024.0,1.0,15.0,9.0,9.0,3.0,0.0,0.0
22,0,2024.0,1.0,15.0,9.0,9.0,3.0,0.0,0.0
23,0,2024.0,2.0,38.0,9.0,9.0,4.0,0.0,0.0
24,0,2024.0,1.0,40.0,9.0,9.0,4.0,0.0,0.0
25,0,2024.0,1.0,16.0,5.0,1.0,3.0,0.0,0.0
26,0,2024.0,1.0,16.0,5.0,1.0,3.0,0.0,0.0
27,0,2024.0,1.0,68.0,2.0,1.0,6.0,0.0,0.0
28,0,2024.0,2.0,66.0,2.0,1.0,6.0,0.0,0.0
29,0,2024.0,1.0,24.0,5.0,1.0,6.0,0.0,0.0
30,0,2024.0,2.0,45.0,9.0,9.0,2.0,0.0,0.0
31,0,2024.0,1.0,33.0,9.0,9.0,2.0,0.0,0.0
32,0,2024.0,1.0,26.0,9.0,9.0,4.0,0.0,0.0
33,0,2024.0,1.0,26.0,9.0,9.0,3.0,0.0,0.0
34,0,2024.0,2.0,28.0,5.0,1.0,6.0,0.0,0.0
35,0,2024.0,1.0,20.0,5.0,4.0,1.0,0.0,0.0
36,0,2024.0,1.0,36.0,5.0,9.0,4.0,0.0,0.0
37,0,2024.0,2.0,22.0,5.0,1.0,5.0,0.0,0.0
38,0,2024.0,2.0,69.0,1.0,2.0,4.0,0.0,0.0
39,0,2024.0,1.0,63.0,2.0,1.0,3.0,0.0,0.0
40,0,2024.0,2.0,59.0,2.0,1.0,4.0,0.0,0.0
41,0,2024.0,1.0,27.0,5.0,4.0,4.0,0.0,0.0
42,0,2024.0,1.0,27.0,5.0,4.0,4.0,0.0,0.0
43,0,2024.0,1.0,28.0,1.0,4.0,2.0,0.0,0.0
44,0,2024.0,2.0,25.0,1.0,4.0,2.0,0.0,0.0
45,0,2024.0,1.0,34.0,9.0,4.0,5.0,0.0,0.0
46,0,2024.0,2.0,29.0,1.0,4.0,3.0,0.0,0.0
47,0,2024.0,1.0,21.0,5.0,1.0,3.0,0.0,0.0
48,0,2024.0,1.0,20.0,5.0,1.0,3.0,0.0,0.0
49,0,2024.0,1.0,11.0,5.0,1.0,3.0,0.0,0.0
50,0,2024.0,2.0,24.0,5.0,1.0,5.0,0.0,0.0

In [14]:
respondieronconaños = pd.read_csv('respondieron_con_años.csv')

In [16]:
respondieronconaños

       cond. de actividad  PEA    ano4
0                     3.0  2.0  2004.0
1                     1.0  1.0  2004.0
2                     3.0  2.0  2004.0
3                     1.0  1.0  2004.0
4                     3.0  2.0  2004.0
...                   ...  ...     ...
14642                 3.0  2.0  2024.0
14643                 2.0  1.0  2024.0
14644                 1.0  1.0  2024.0
14645                 1.0  1.0  2024.0
14646                 1.0  1.0  2024.0

[14647 rows x 3 columns]

In [18]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [19]:
respondieron["desocupado"] = (respondieronconaños["PEA"] == 1).astype(int)

In [20]:
print(respondieronconaños["ano4"].unique()) #estan bien cargados los dos años (2004) y (2024)

[2004. 2024.]

In [21]:
for año in respondieronconaños["ano4"].unique():
    print(f"\nProcesando año: {año}")
    
  
    df_anual = respondieronconaños[respondieronconaños["ano4"] == año]
    
    

    X = df_anual.drop(columns=["ano4", "PEA", "cond. de actividad"], errors='ignore')
    
   
    X = X.copy() 
    X["intercept"] = 1
    
  
    X_train, X_test = train_test_split(X, train_size=0.7, random_state=444)
    
    print(f"Año {año}:")
    print(f"Train shape: {X_train.shape}, Test shape: {X_test.shape}")

Procesando año: 2004.0
Año 2004.0:
Train shape: (5352, 1), Test shape: (2295, 1)

Procesando año: 2024.0
Año 2024.0:
Train shape: (4900, 1), Test shape: (2100, 1)

In [26]:
respondieronconaños["desocupado"] = (respondieronconaños["PEA"] == 1).astype(int)

In [28]:
# Supongamos que 'anio' es el nombre de la columna del año
for año in respondieronconaños["ano4"].unique():
    print(f"\nProcesando año: {año}")
    
    # Filtrar por año
    df_anual = respondieronconaños[respondieronconaños["ano4"] == año]
    
    # Variable dependiente
    y = df_anual["desocupado"]
    
    # Variables independientes (puedes excluir columnas como 'desocupado', 'anio', etc.)
    X = df_anual.drop(columns=["desocupado", "ano4", "PEA", "cond. de actividad"], errors='ignore')
    
    # Agregar columna de unos
    X = X.copy()  # para evitar SettingWithCopyWarning
    X["intercept"] = 1
    
    # Separar en train/test
    X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=444)
    
    print(f"Año {año}:")
    print(f"Train shape: {X_train.shape}, Test shape: {X_test.shape}")

Procesando año: 2004.0
Año 2004.0:
Train shape: (5352, 1), Test shape: (2295, 1)

Procesando año: 2024.0
Año 2024.0:
Train shape: (4900, 1), Test shape: (2100, 1)

In [30]:
common_cols = X_train.columns.intersection(X_test.columns)

In [32]:
mean_train = X_train[common_cols].mean()
mean_test = X_test[common_cols].mean()

In [34]:
diff_table = pd.DataFrame({
    "Media Entrenamiento": mean_train,
    "Media Testeo": mean_test,
    "Diferencia Absoluta": (mean_train - mean_test).abs()
})
diff_table = diff_table.sort_values("Diferencia Absoluta", ascending=False)
print(diff_table)

           Media Entrenamiento  Media Testeo  Diferencia Absoluta
intercept                  1.0           1.0                  0.0

In [36]:
print("Columnas originales:", df_anual.columns.tolist())
X = df_anual.drop(columns=["desocupado", "ano4", "PEA", "cond. de actividad"], errors='ignore')
print("Columnas en X:", X.columns.tolist())

Columnas originales: ['cond. de actividad', 'PEA', 'ano4', 'desocupado']
Columnas en X: []

In [38]:
print(respondieronconaños.columns)

Index(['cond. de actividad', 'PEA', 'ano4', 'desocupado'], dtype='object')

In [40]:
X = pd.get_dummies(df_anual[["PEA"]], prefix="PEA", drop_first=True)
X["intercept"] = 1
y = df_anual["desocupado"]

In [42]:
from sklearn.model_selection import train_test_split

# División en entrenamiento (70%) y testeo (30%)
X_train, X_test, y_train, y_test = train_test_split(
    X,          # matriz de variables independientes
    y,          # vector de variable dependiente
    test_size=0.3,
    random_state=444
)

In [44]:
X = df_anual[["PEA", "cond. de actividad", "ano4"]]


X = pd.get_dummies(X, columns=["cond. de actividad"], drop_first=True)

# Agregar columna de unos (intercepto)
X["intercept"] = 1

# Variable dependiente
y = df_anual["desocupado"]

# Train-test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=444)

# Diferencias de medias
mean_train = X_train.mean()
mean_test = X_test.mean()
diff = (mean_train - mean_test).abs()

diff_table = pd.DataFrame({
    "Media Entrenamiento": mean_train,
    "Media Testeo": mean_test,
    "Diferencia Absoluta": diff
})

print(diff_table)

                        Media Entrenamiento  Media Testeo  Diferencia Absoluta
PEA                                1.487347      1.517143             0.029796
ano4                            2024.000000   2024.000000             0.000000
cond. de actividad_2.0             0.046735      0.039048             0.007687
cond. de actividad_3.0             0.376122      0.389524             0.013401
cond. de actividad_4.0             0.111224      0.127619             0.016395
intercept                          1.000000      1.000000             0.000000

In [46]:
print("La tabla de diferencia de medias muestra que las medias de las variables explicativas en los conjuntos de entrenamiento y testeo son muy similares. La variable PEA presenta una diferencia absoluta pequeña de aproximadamente 0.03, lo que sugiere una distribución equilibrada. Las variables dummy derivadas de cond. de actividad también presentan diferencias mínimas, todas inferiores a 0.02, reflejando que hay un buen equilibrio entre categorías. La columna intercept permanece constante en ambos conjunto como se esperaba. En conjunto, no se observa evidencia de sesgo en el muestreo, por lo que los datos están bien distribuidos y en un modelo a seguir")

La tabla de diferencia de medias muestra que las medias de las variables explicativas en los conjuntos de entrenamiento y testeo son muy similares. La variable PEA presenta una diferencia absoluta pequeña de aproximadamente 0.03, lo que sugiere una distribución equilibrada. Las variables dummy derivadas de cond. de actividad también presentan diferencias mínimas, todas inferiores a 0.02, reflejando que hay un buen equilibrio entre categorías. La columna intercept permanece constante en ambos conjunto como se esperaba. En conjunto, no se observa evidencia de sesgo en el muestreo, por lo que los datos están bien distribuidos y en un modelo a seguir

In [57]:
edad = pd.read_csv("edad.csv")

In [59]:
edad

,CODUSU,nro_hogar,componente,h15,ano4,trimestre,region,mas_500,aglomerado,pondera,...,gdeccfr,pdeccfr,adeccfr,pj1_1,pj2_1,pj3_1,idimpp,p21_ajustado,salario_semanal,horastrab
0,125098,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1299.0,...,6,,4,0.0,0.0,0.0,0,0.0,0.0,0.0
1,125397,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,2018.0,...,0,,0,0.0,0.0,0.0,0,0.0,0.0,0.0
2,125515,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1486.0,...,7,,5,0.0,0.0,0.0,20,0.0,0.0,0.0
3,125558,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1674.0,...,8,,6,0.0,0.0,0.0,0,2000.0,60000.0,59.0
4,125558,1.0,2.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1674.0,...,8,,6,0.0,0.0,0.0,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7642,288171,1.0,3.0,0.0,2004.0,1er. Trimestre,Gran Buenos Aires,S,Partidos del GBA,1454.0,...,8,,9,0.0,0.0,0.0,0,0.0,0.0,0.0
7643,288405,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Partidos del GBA,1673.0,...,2,,2,0.0,0.0,0.0,0,125.0,3750.0,70.0
7644,288405,1.0,2.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Partidos del GBA,1673.0,...,2,,2,0.0,0.0,0.0,0,125.0,3750.0,70.0
7645,288405,1.0,3.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Partidos del GBA,1673.0,...,2,,2,0.0,0.0,0.0,0,0.0,0.0,0.0
7646,288405,1.0,4.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Partidos del GBA,1673.0,...,2,,2,0.0,0.0,0.0,0,150.0,4500.0,40.0

In [61]:
edad2 = pd.read_csv("edad2.csv")

In [63]:
edad2

,CODUSU,nro_hogar,componente,h15,ano4,trimestre,region,mas_500,aglomerado,pondera,...,deccfr,ideccfr,rdeccfr,gdeccfr,pdeccfr,adeccfr,pj1_1,pj2_1,pj3_1,idimpp
0,125098,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1299.0,...,7,,6,6,,4,0.0,0.0,0.0,0
1,125397,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,2018.0,...,0,,0,0,,0,0.0,0.0,0.0,0
2,125515,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1486.0,...,7,,7,7,,5,0.0,0.0,0.0,20
3,125558,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1674.0,...,8,,8,8,,6,0.0,0.0,0.0,0
4,125558,1.0,2.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1674.0,...,8,,8,8,,6,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7642,288171,1.0,3.0,0.0,2004.0,1er. Trimestre,Gran Buenos Aires,S,Partidos del GBA,1454.0,...,8,,8,8,,9,0.0,0.0,0.0,0
7643,288405,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Partidos del GBA,1673.0,...,2,,2,2,,2,0.0,0.0,0.0,0
7644,288405,1.0,2.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Partidos del GBA,1673.0,...,2,,2,2,,2,0.0,0.0,0.0,0
7645,288405,1.0,3.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Partidos del GBA,1673.0,...,2,,2,2,,2,0.0,0.0,0.0,0
7646,288405,1.0,4.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Partidos del GBA,1673.0,...,2,,2,2,,2,0.0,0.0,0.0,0

In [65]:
horastrab = pd.read_csv("horastrab.csv")

In [67]:
horastrab

,CODUSU,nro_hogar,componente,h15,ano4,trimestre,region,mas_500,aglomerado,pondera,...,gdeccfr,pdeccfr,adeccfr,pj1_1,pj2_1,pj3_1,idimpp,p21_ajustado,salario_semanal,horastrab
0,125098,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1299.0,...,6,,4,0.0,0.0,0.0,0,0.0,0.0,0.0
1,125397,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,2018.0,...,0,,0,0.0,0.0,0.0,0,0.0,0.0,0.0
2,125515,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1486.0,...,7,,5,0.0,0.0,0.0,20,0.0,0.0,0.0
3,125558,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1674.0,...,8,,6,0.0,0.0,0.0,0,2000.0,60000.0,59.0
4,125558,1.0,2.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1674.0,...,8,,6,0.0,0.0,0.0,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7642,288171,1.0,3.0,0.0,2004.0,1er. Trimestre,Gran Buenos Aires,S,Partidos del GBA,1454.0,...,8,,9,0.0,0.0,0.0,0,0.0,0.0,0.0
7643,288405,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Partidos del GBA,1673.0,...,2,,2,0.0,0.0,0.0,0,125.0,3750.0,70.0
7644,288405,1.0,2.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Partidos del GBA,1673.0,...,2,,2,0.0,0.0,0.0,0,125.0,3750.0,70.0
7645,288405,1.0,3.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Partidos del GBA,1673.0,...,2,,2,0.0,0.0,0.0,0,0.0,0.0,0.0
7646,288405,1.0,4.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Partidos del GBA,1673.0,...,2,,2,0.0,0.0,0.0,0,150.0,4500.0,40.0

In [69]:
salario_semanal = pd.read_csv("salario_semanal.csv")

In [71]:
salario_semanal

,CODUSU,nro_hogar,componente,h15,ano4,trimestre,region,mas_500,aglomerado,pondera,...,rdeccfr,gdeccfr,pdeccfr,adeccfr,pj1_1,pj2_1,pj3_1,idimpp,p21_ajustado,salario_semanal
0,125098,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1299.0,...,6,6,,4,0.0,0.0,0.0,0,0.0,0.0
1,125397,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,2018.0,...,0,0,,0,0.0,0.0,0.0,0,0.0,0.0
2,125515,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1486.0,...,7,7,,5,0.0,0.0,0.0,20,0.0,0.0
3,125558,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1674.0,...,8,8,,6,0.0,0.0,0.0,0,2000.0,60000.0
4,125558,1.0,2.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1674.0,...,8,8,,6,0.0,0.0,0.0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7642,288171,1.0,3.0,0.0,2004.0,1er. Trimestre,Gran Buenos Aires,S,Partidos del GBA,1454.0,...,8,8,,9,0.0,0.0,0.0,0,0.0,0.0
7643,288405,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Partidos del GBA,1673.0,...,2,2,,2,0.0,0.0,0.0,0,125.0,3750.0
7644,288405,1.0,2.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Partidos del GBA,1673.0,...,2,2,,2,0.0,0.0,0.0,0,125.0,3750.0
7645,288405,1.0,3.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Partidos del GBA,1673.0,...,2,2,,2,0.0,0.0,0.0,0,0.0,0.0
7646,288405,1.0,4.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Partidos del GBA,1673.0,...,2,2,,2,0.0,0.0,0.0,0,150.0,4500.0

In [73]:
educ = pd.read_csv("educ.csv")

In [75]:
educ

,CODUSU,nro_hogar,componente,h15,ano4,trimestre,region,mas_500,aglomerado,pondera,...,deccfr,ideccfr,rdeccfr,gdeccfr,pdeccfr,adeccfr,pj1_1,pj2_1,pj3_1,idimpp
0,125098,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1299.0,...,7,,6,6,,4,0.0,0.0,0.0,0
1,125397,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,2018.0,...,0,,0,0,,0,0.0,0.0,0.0,0
2,125515,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1486.0,...,7,,7,7,,5,0.0,0.0,0.0,20
3,125558,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1674.0,...,8,,8,8,,6,0.0,0.0,0.0,0
4,125558,1.0,2.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1674.0,...,8,,8,8,,6,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7642,288171,1.0,3.0,0.0,2004.0,1er. Trimestre,Gran Buenos Aires,S,Partidos del GBA,1454.0,...,8,,8,8,,9,0.0,0.0,0.0,0
7643,288405,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Partidos del GBA,1673.0,...,2,,2,2,,2,0.0,0.0,0.0,0
7644,288405,1.0,2.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Partidos del GBA,1673.0,...,2,,2,2,,2,0.0,0.0,0.0,0
7645,288405,1.0,3.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Partidos del GBA,1673.0,...,2,,2,2,,2,0.0,0.0,0.0,0
7646,288405,1.0,4.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Partidos del GBA,1673.0,...,2,,2,2,,2,0.0,0.0,0.0,0