In [6]:
import pandas as pd

In [8]:
respondieron = pd.read_csv('respondieron.csv')

In [10]:
respondieron

       cond. de actividad  PEA
0                       3    2
1                       1    1
2                       3    2
3                       1    1
4                       3    2
...                   ...  ...
14642                   3    2
14643                   2    1
14644                   1    1
14645                   1    1
14646                   1    1

[14647 rows x 2 columns]

In [14]:
norespondieron = pd.read_csv('norespondieron.csv')

In [16]:
norespondieron

,cond. de actividad,ano4,sexo,edad,estado civil,seguro médico,nivel educativo,categoria inactivo,ipcf
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,0,2024.0,2.0,49.0,2.0,4.0,2.0,0.0,0.0
11,0,2024.0,2.0,25.0,5.0,4.0,6.0,0.0,0.0
12,0,2024.0,1.0,20.0,5.0,4.0,5.0,0.0,0.0
13,0,2024.0,1.0,74.0,5.0,2.0,5.0,0.0,0.0
14,0,2024.0,1.0,21.0,9.0,9.0,5.0,0.0,0.0
15,0,2024.0,1.0,21.0,9.0,9.0,5.0,0.0,0.0
16,0,2024.0,1.0,77.0,1.0,1.0,3.0,0.0,0.0
17,0,2024.0,1.0,45.0,1.0,4.0,4.0,0.0,0.0
18,0,2024.0,1.0,45.0,2.0,2.0,6.0,0.0,0.0
19,0,2024.0,1.0,15.0,9.0,9.0,3.0,0.0,0.0
20,0,2024.0,1.0,53.0,9.0,9.0,2.0,0.0,0.0
21,0,2024.0,1.0,15.0,9.0,9.0,3.0,0.0,0.0
22,0,2024.0,1.0,15.0,9.0,9.0,3.0,0.0,0.0
23,0,2024.0,2.0,38.0,9.0,9.0,4.0,0.0,0.0
24,0,2024.0,1.0,40.0,9.0,9.0,4.0,0.0,0.0
25,0,2024.0,1.0,16.0,5.0,1.0,3.0,0.0,0.0
26,0,2024.0,1.0,16.0,5.0,1.0,3.0,0.0,0.0
27,0,2024.0,1.0,68.0,2.0,1.0,6.0,0.0,0.0
28,0,2024.0,2.0,66.0,2.0,1.0,6.0,0.0,0.0
29,0,2024.0,1.0,24.0,5.0,1.0,6.0,0.0,0.0
30,0,2024.0,2.0,45.0,9.0,9.0,2.0,0.0,0.0
31,0,2024.0,1.0,33.0,9.0,9.0,2.0,0.0,0.0
32,0,2024.0,1.0,26.0,9.0,9.0,4.0,0.0,0.0
33,0,2024.0,1.0,26.0,9.0,9.0,3.0,0.0,0.0
34,0,2024.0,2.0,28.0,5.0,1.0,6.0,0.0,0.0
35,0,2024.0,1.0,20.0,5.0,4.0,1.0,0.0,0.0
36,0,2024.0,1.0,36.0,5.0,9.0,4.0,0.0,0.0
37,0,2024.0,2.0,22.0,5.0,1.0,5.0,0.0,0.0
38,0,2024.0,2.0,69.0,1.0,2.0,4.0,0.0,0.0
39,0,2024.0,1.0,63.0,2.0,1.0,3.0,0.0,0.0
40,0,2024.0,2.0,59.0,2.0,1.0,4.0,0.0,0.0
41,0,2024.0,1.0,27.0,5.0,4.0,4.0,0.0,0.0
42,0,2024.0,1.0,27.0,5.0,4.0,4.0,0.0,0.0
43,0,2024.0,1.0,28.0,1.0,4.0,2.0,0.0,0.0
44,0,2024.0,2.0,25.0,1.0,4.0,2.0,0.0,0.0
45,0,2024.0,1.0,34.0,9.0,4.0,5.0,0.0,0.0
46,0,2024.0,2.0,29.0,1.0,4.0,3.0,0.0,0.0
47,0,2024.0,1.0,21.0,5.0,1.0,3.0,0.0,0.0
48,0,2024.0,1.0,20.0,5.0,1.0,3.0,0.0,0.0
49,0,2024.0,1.0,11.0,5.0,1.0,3.0,0.0,0.0
50,0,2024.0,2.0,24.0,5.0,1.0,5.0,0.0,0.0

In [20]:
respondieronconaños = pd.read_csv('respondieron_con_años.csv')

In [22]:
respondieronconaños

       cond. de actividad  PEA    ano4
0                     3.0  2.0  2004.0
1                     1.0  1.0  2004.0
2                     3.0  2.0  2004.0
3                     1.0  1.0  2004.0
4                     3.0  2.0  2004.0
...                   ...  ...     ...
14642                 3.0  2.0  2024.0
14643                 2.0  1.0  2024.0
14644                 1.0  1.0  2024.0
14645                 1.0  1.0  2024.0
14646                 1.0  1.0  2024.0

[14647 rows x 3 columns]

In [18]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [24]:
# Suponiendo que los "desocupados" eran codificados con un 2 originalmente antes de reemplazar
# Si ya reemplazaste y no tienes forma de distinguir desocupados dentro de activos, esto es una suposición
respondieron["desocupado"] = (respondieronconaños["PEA"] == 1).astype(int)

In [32]:
print(respondieronconaños["ano4"].unique()) #estan bien cargados los dos años (2004) y (2024)

[2004. 2024.]

In [40]:
for año in respondieronconaños["ano4"].unique():
    print(f"\nProcesando año: {año}")
    
  
    df_anual = respondieronconaños[respondieronconaños["ano4"] == año]
    
    

    X = df_anual.drop(columns=["ano4", "PEA", "cond. de actividad"], errors='ignore')
    
   
    X = X.copy() 
    X["intercept"] = 1
    
  
    X_train, X_test = train_test_split(X, train_size=0.7, random_state=444)
    
    print(f"Año {año}:")
    print(f"Train shape: {X_train.shape}, Test shape: {X_test.shape}")

Procesando año: 2004.0
Año 2004.0:
Train shape: (5352, 1), Test shape: (2295, 1)

Procesando año: 2024.0
Año 2024.0:
Train shape: (4900, 1), Test shape: (2100, 1)

In [46]:
respondieronconaños["desocupado"] = (respondieronconaños["PEA"] == 1).astype(int)

In [48]:
# Supongamos que 'anio' es el nombre de la columna del año
for año in respondieronconaños["ano4"].unique():
    print(f"\nProcesando año: {año}")
    
    # Filtrar por año
    df_anual = respondieronconaños[respondieronconaños["ano4"] == año]
    
    # Variable dependiente
    y = df_anual["desocupado"]
    
    # Variables independientes (puedes excluir columnas como 'desocupado', 'anio', etc.)
    X = df_anual.drop(columns=["desocupado", "ano4", "PEA", "cond. de actividad"], errors='ignore')
    
    # Agregar columna de unos
    X = X.copy()  # para evitar SettingWithCopyWarning
    X["intercept"] = 1
    
    # Separar en train/test
    X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=444)
    
    print(f"Año {año}:")
    print(f"Train shape: {X_train.shape}, Test shape: {X_test.shape}")

Procesando año: 2004.0
Año 2004.0:
Train shape: (5352, 1), Test shape: (2295, 1)

Procesando año: 2024.0
Año 2024.0:
Train shape: (4900, 1), Test shape: (2100, 1)

In [50]:
common_cols = X_train.columns.intersection(X_test.columns)

In [52]:
mean_train = X_train[common_cols].mean()
mean_test = X_test[common_cols].mean()

In [54]:
diff_table = pd.DataFrame({
    "Media Entrenamiento": mean_train,
    "Media Testeo": mean_test,
    "Diferencia Absoluta": (mean_train - mean_test).abs()
})

In [56]:
diff_table = diff_table.sort_values("Diferencia Absoluta", ascending=False)
print(diff_table)

           Media Entrenamiento  Media Testeo  Diferencia Absoluta
intercept                  1.0           1.0                  0.0